*{
    padding:0;
    margin:0;
}
.container{
    height: 100vh;
    width:100vw;
    /* border:1px solid crimson; */
    background-color: rgb(196, 236, 236);
    /* flex-direction: column; */
}
.subcontainer{
    height: 40%;
    width:50%;
    /* background-color: aqua; */
    border: 1px solid rebeccapurple;
    box-shadow: 10px 10px  darkcyan;
    font-style: italic;
    border-radius: 20%;
}
.computer{
    font-size: x-large;
}
.flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    /* gap:20px; */
}
.flexbuttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap:30px;
}
.buttons{
    height:30%;
    width:100%;
}
.button{
    background-color: rgb(202, 247, 243);
    height:26%;
    width:13%;
    text-align: center;
}

@media screen and (min-width:420px) and (max-width:2000px){    
    .container{
       height: 100vh;
        width:100vw;
    }
    .subcontainer{
        height:40%;
        width:55%;
        position:sticky;
    }
    .computer{
        font-size: small;
    }
    .button{
        height: auto;
        width:auto;
    }
    
}